/* line 4, competition.scss */
.league-info {
  padding-top: 30px;
  padding-bottom: 30px; }
  /* line 8, competition.scss */
  .league-info h2 {
    margin-bottom: 0; }
  /* line 12, competition.scss */
  .league-info .info-box {
    background-color: #f7f7f7;
    padding: 50px;
    border-radius: 5px;
    margin-top: 30px; }

/* line 22, competition.scss */
.teams-wrap {
  display: flex;
  flex-wrap: wrap; }
  /* line 26, competition.scss */
  .teams-wrap .team {
    flex-basis: 33.33%;
    padding: 10px; }
    /* line 30, competition.scss */
    .teams-wrap .team .team-content {
      display: flex;
      align-items: center;
      padding: 20px;
      background-color: #583bb6;
      height: 100%; }
      /* line 37, competition.scss */
      .teams-wrap .team .team-content h4 {
        margin-bottom: 0;
        color: #fff;
        margin-left: 20px; }
      /* line 43, competition.scss */
      .teams-wrap .team .team-content img {
        width: 50px; }
