@font-face {
  src: url("../fonts/OpenSans-Regular.ttf");
  font-family: opensans; }
/* line 11, global.scss */
* {
  box-sizing: border-box; }

/* line 15, global.scss */
body {
  margin: 0; }

/* line 19, global.scss */
p,
a,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: opensans; }

/* line 31, global.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 30px;
  text-transform: capitalize;
  word-spacing: 2px; }

/* line 43, global.scss */
a {
  text-decoration: none; }

/* line 47, global.scss */
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

/* line 54, global.scss */
p {
  margin-top: 0;
  margin-bottom: 0; }

/* line 59, global.scss */
.main-title {
  margin-bottom: 50px; }

/* line 63, global.scss */
section {
  padding-top: 80px;
  padding-bottom: 80px; }

/* line 68, global.scss */
.link {
  padding: 10px 30px;
  background-color: #583bb6;
  outline: 0;
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: bold; }

/* line 80, global.scss */
.main-layout {
  min-height: 100vh;
  position: relative;
  padding-bottom: 100px; }

/* line 86, global.scss */
.container {
  padding-left: 100px;
  padding-right: 100px; }

/* line 91, global.scss */
.logo-wrap {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #583bb6; }
  /* line 96, global.scss */
  .logo-wrap a h1 {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 0; }

/* line 104, global.scss */
#nav {
  background-color: #eee; }
  /* line 107, global.scss */
  #nav ul {
    display: flex; }
    /* line 110, global.scss */
    #nav ul li {
      padding: 10px 20px; }
      /* line 113, global.scss */
      #nav ul li:first-of-type {
        padding-left: 0; }

/* line 120, global.scss */
#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #1f1f1f;
  padding-top: 30px;
  padding-bottom: 30px; }
  /* line 129, global.scss */
  #footer p {
    color: #fff;
    text-align: center;
    font-size: 13px;
    text-transform: uppercase;
    word-spacing: 3px;
    letter-spacing: 1px; }

/* line 139, global.scss */
#loader-wrap {
  min-height: 200px;
  position: relative; }
  /* line 143, global.scss */
  #loader-wrap .loader {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 40px;
    height: 40px;
    border: 2px solid transparent;
    border-top-color: #583bb6;
    border-radius: 50%;
    animation: rotate .5s linear; }

@keyframes rotate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
