// Colors
$purple: #583bb6;

// Fonts
@font-face {
    src: url('../fonts/OpenSans-Regular.ttf');
    font-family: opensans;
}

// Global Styling
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

p,
a,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: opensans;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 30px;
    text-transform: capitalize;
    word-spacing: 2px;
}

a {
    text-decoration: none;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

.main-title {
    margin-bottom: 50px;
}

section {
    padding-top: 80px;
    padding-bottom: 80px;
}

.link {
    padding: 10px 30px;
    background-color: $purple;
    outline: 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: bold;
}

// Main Layout Styling
.main-layout {
    min-height: 100vh;
    position: relative;
    padding-bottom: 100px;
}

.container {
    padding-left: 100px;
    padding-right: 100px;
}

.logo-wrap {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: $purple;

    a h1 {
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 3px;
        margin-bottom: 0;
    }
}

#nav {
    background-color: #eee;

    ul {
        display: flex;

        li {
            padding: 10px 20px;

            &:first-of-type {
                padding-left: 0;
            }
        }
    }
}

#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #1f1f1f;
    padding-top: 30px;
    padding-bottom: 30px;

    p {
        color: #fff;
        text-align: center;
        font-size: 13px;
        text-transform: uppercase;
        word-spacing: 3px;
        letter-spacing: 1px;
    }
}